<div class="px-4 text-center mx-auto my-8 text-gray-500 text-sm">
  <strong class="whitespace-nowrap"><span class="align-middle">FastRetro</span></strong> &mdash; Fast and simple retrospectives for your team.
  Need help? <%= mail_to "cengiz@cengizg.com", "Send us an email", class: "text-blue-600 underline hover:brightness-90" %>.
</div>
