<%# Broadcastable vote count - no user-specific data %>
<div id="<%= dom_id %>" class="flex items-center justify-center min-w-[2.5rem] h-8 px-2 bg-violet-100 border-2 border-violet-600 text-violet-700 font-black text-sm relative">
  <span data-vote-total><%= count %></span>
</div>
