<div class="px-4 py-4">
  <%= render BackButtonComponent.new(label: "Home", href: landing_page_path(script_name: nil)) %>
</div>

<div class="max-w-2xl mx-auto px-4">
  <div class="prose mx-auto">
    <%= @content %>
  </div>
</div>
