<div id="participant-list">
  <%= render ParticipantListComponent.new(
    retro: retro,
    highlight_enabled: retro.grouping? && retro.admin?(Current.user),
    participants: local_assigns[:participants]
  ) %>
</div>
