<span class="flex items-center gap-2">
  <span class="w-10 h-10">
    <span class="">
      <%= inline_svg "logo" %>
    </span>
    <span class="hidden">
      <%= inline_svg "logo-dark" %>
    </span>
  </span>
  <span class="flex items-center">
    <span class="">
      <%= inline_svg "logo-text-black" %>
    </span>
    <span class="hidden">
      <%= inline_svg "logo-text-white" %>
    </span>
  </span>
</span>
